.icons{width: 16px; height: 16px; background: url(http://img.wntaoke.com/sucai/icons2.png);float: left; margin-left: 5px; position: relative; display: none;}
.icons_shopB{background-position: -37px 0; display: inline-block;}
.icons_shopC{background-position:-167px 0; display: inline-block;}
.icons_au1{background-position:-62px 0; display: inline-block;}
.icons_jhs1{background-position:-115px 0; display: inline-block;}
.icons_xp1{background-position:0 0; display: inline-block;}
.icons_tqg1{background-position:-141px 0; display: inline-block;}
.icons_pp1{background-position:-274px 0; display: inline-block;}
.icons_haiwai1{background-position:-248px 0; display: inline-block;}
.icons_yan1{background-position: -300px 0;display: inline-block;}